@inherits LayoutComponentBase
<div class="page">
    <nav class="top-row px-4">
        <NavLink href="/" class="nav-link">Inicio</NavLink>
        <NavLink href="/carrito" class="nav-link">🛒 Carrito</NavLink>
    </nav>
    @Body
</div>
